[submodule "vim.symlink/pack/plugins/start/vim-airline"]
	path = vim.symlink/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim.symlink/pack/plugins/start/vim-fugitive"]
	path = vim.symlink/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim.symlink/pack/plugins/start/vim-airline-themes"]
	path = vim.symlink/pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim.symlink/pack/plugins/start/vim-gitgutter"]
	path = vim.symlink/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
