[submodule "vim.symlink/pack/plugins/start/vim-airline"]
	path = vim.symlink/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim.symlink/pack/plugins/start/vim-fugitive"]
	path = vim.symlink/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim.symlink/pack/plugins/start/vim-airline-themes"]
	path = vim.symlink/pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim.symlink/pack/plugins/start/vim-gitgutter"]
	path = vim.symlink/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim.symlink/pack/plugins/start/syntastic"]
	path = vim.symlink/pack/plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim.symlink/pack/plugins/start/supertab"]
	path = vim.symlink/pack/plugins/start/supertab
	url = https://github.com/ervandew/supertab.git
